body,
div,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 30px;
    margin: 0 auto;
}

.button {
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: 0.2s;
}

.button:hover {
    background: #dadada;
}

.input {
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.text,
.list,
.list_number {
    font-weight: 400;
    font-size: 20px;
}